@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Sriracha&display=swap");

/*******************************************************************************
*** Reset Rules
*** Minimal resets used from: https://alligator.io/css/minimal-css-reset/
*******************************************************************************/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*******************************************************************************
*** App Rules
*******************************************************************************/
:root {
  --default-padding: 1.5em;
  --primary-color: #3e3e46;
  --secondary-color: #202624;
  --tertiary-color: #646157;
  --accent-color: gray;
  --main-text-color: #fff;
  --twitter-color: #1b95e0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background: var(--tertiary-color);
}

body {
  height: 100%;
  min-height: 100%;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  color: var(--main-text-color);
  margin: 0 1.5em;
}

.main-head,
.content,
.side,
.main-footer {
  padding: var(--default-padding);
  border: 5px solid var(--tertiary-color);
}

p {
  padding: var(--default-padding);
}

.main-head {
  grid-area: header;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 0 0 2em 2em;
  border: 1px var(--accent-color) solid;
  box-shadow: inset 0.5em 0.5em 1rem 0.75rem rgba(0, 0, 0, 0.3),
    0.5em 0.5em 0.5rem rgba(0, 0, 0, 0.3);
}

.content {
  grid-area: content;
  text-align: center;
  border-radius: 2em;
  background: var(--secondary-color);
  border: 1px var(--accent-color) solid;
  box-shadow: inset 0.5em 0.5em 1rem 0.75rem rgba(0, 0, 0, 0.3),
    0.5em 0.5em 0.5rem rgba(0, 0, 0, 0.3);
}

.side {
  grid-area: sidebar;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 2em;
  border: 1px var(--accent-color) solid;
  box-shadow: inset 0.5em 0.5em 1rem 0.75rem rgba(0, 0, 0, 0.3),
    0.5em 0.5em 0.5rem rgba(0, 0, 0, 0.3);
}

.main-footer {
  grid-area: footer;
  font-size: 0.75em;
  background: var(--secondary-color);
  border-radius: 2em 2em 0 0;
  border: 1px var(--accent-color) solid;
  box-shadow: inset 0.5em 0.5em 1rem 0.75rem rgba(0, 0, 0, 0.3),
    0.5em 0.5em 0.5rem rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: grid;
  gap: var(--default-padding);
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
  /* TODO how is sizing determined when mixing 1fr and auto */
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-variant: small-caps;
  padding: 0.75em 0;
}

h1 span {
  display: block;
  padding: 0.5em 0 0;
  font-size: 0.5em;
}

h2,
h3 {
  font-weight: 700;
  padding: 0.75em 0;
}

h4 {
  font-family: "Sriracha", cursive;
  padding: 0.25em 0;
}

.side,
.content,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content > h2 {
  vertical-align: bottom;
}

.content > .advice-container {
  justify-self: center;
}

.side > section {
  background: var(--tertiary-color);
  border-radius: 0.5em;
  margin: 1.5em;
  box-shadow: 0.5em 0.5em 0.5rem rgba(0, 0, 0, 0.3);
  border: 1px var(--accent-color) solid;
}

.side > section:nth-of-type(1n) {
  transform: rotate(-2deg);
}
.side > section:nth-of-type(2n) {
  transform: rotate(2deg);
}

.side > section > h4 {
  width: 100%;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--secondary-color);
  border-bottom: 0.5em double var(--primary-color);
}

.side > section p {
  border-bottom: 0.5em double var(--secondary-color);
}

.advice-container {
  margin: 1.5em auto 3em;
}

.advice-slip {
  background: var(--tertiary-color);
  font-family: "Sriracha", cursive;
  padding: var(--default-padding);
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.75em 0.1em rgba(255, 255, 255, 0.3);
  transform: rotate(-2deg);
  border: 5px var(--main-text-color) double;
}

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
  }
}

.tweet-button-container {
  z-index: 1;
  align-self: stretch;
}

.tweet-button {
  background: var(--twitter-color);
  padding: 1.5em;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
}

.main-head {
  padding-top: 5em;
  position: relative;
  top: -5em;
}

.content,
.side,
.main-footer {
  position: relative;
  top: -5em;
}

.main-footer p {
  margin: var(--default-padding) 0;
  padding: 0 var(--default-padding);
}

.main-footer a {
  outline: none;
  padding: 2px 1px 0;
}

.main-footer a:link {
  color: var(--main-text-color);
}

.main-footer a:visited {
  color: var(--main-text-color);
}

.main-footer a:focus {
  border-bottom: 1px solid;
  color: var(--main-text-color);
}

.main-footer a:hover {
  border-bottom: 1px solid;
  background: var(--tertiary-color);
}

.main-footer a:active {
  background: var(--tertiary-color);
  color: var(--main-text-color);
}

.content::before,
.main-head::before,
.side::before,
.main-footer::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("metal-tile.jpg");
  filter: opacity(0.1);
  z-index: 0;
}

.main-head::before {
  border-radius: 0 0 2em 2em;
}

.content::before,
.side::before {
  border-radius: 2em;
}

.main-footer::before {
  border-radius: 2em 2em 0 0;
}

@media (min-width: 768px) {
  .side > section {
    max-width: 60%;
  }

  .advice-container {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .advice-container {
    max-width: 60%;
  }

  .tweet-button {
    width: 50%;
  }
}
